body{
  background-color: rgb(175, 172, 172) !important;

}
hr{
  color: gold!important;
  font-weight:900
}
h1{
  color: gold;
}

 .source{
   margin: 2rem
 }
 .btn{
   background-color: gold !important;
   margin: 2rem 0;
 }
 h2{
   color: #fff;
 }