{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Content block -->
{% block content %}
        <h1>Business News</h1>
        <ul>
             {{ macro.displayNewsList(business)}}
        </ul>
        <h1>Genaral News</h1>
        <ul>
             {{ macro.displayNewsList(general)}}
        </ul>
        <h1>Sports News</h1>
        <ul>
             {{ macro.displayNewsList(sports)}}
        </ul>
        <h1>Technology News</h1>
        <ul>
             {{ macro.displayNewsList(technology)}}
        </ul>
        
        
     {% endblock%}   

