{%  extends 'base.html'%}

{% block css %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename = 'css/trial7.css')}}">
{% endblock %}
{% block head %}
<title>Sources</title>
{% endblock %}

{% block content %}

  <section id = "sources">
    <div class="container">
      <hr>
    <h1 class="text-center">
      NEWS SOURCES
    </h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6 source">
        {% for source in message %}
        <div class = "my-card-container">
          <div class="my-card">
            
              <h2>
               |Source: {{source.name}}    
              </h2>
              <a href="/about/{{source.id}}"><button class="btn btn-outline-light">Read Articles..</button></a>
            {% endfor %}
          </div>
          
        </div>
  
      </div>
  
    </div>
  </div>
</section>
  {% endblock %}