{% macro displayNewsList(news_list) %}

{% for news in news_list %}

<div class="container-fluid">
    <div class="row">
        {% for news in news_list %}
        <div class="col-md-4 card">
            <div class="thumbnail ">
                <a href="{{ news.url }}">view</a> </a>
                <h3>{{ news.name}}</h3>
                <p>{{news.description | truncate(10)}}</p>
         <a href="/news/{{news.id}}" target="_blank">  Read More </a>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}

{% endmacro %}